.font2 {
 -webkit-mask-image: url("/images/ink-rough2.png");
         mask-image: url("/images/ink-rough2.png");
 -webkit-mask-mode: luminance;
         mask-mode: luminance;
 -webkit-mask-size: cover;
         mask-size: cover;
 -webkit-mask-position: center;
         mask-position: center;
 -webkit-mask-repeat: no-repeat;
         mask-repeat: no-repeat;
}

.font3 {
	font-family: "Shippori Mincho", "Hiragino Mincho ProN", "Yu Mincho", serif;
	font-weight: 500;
	color: #f8f8ff; 
	text-shadow: 0 0 6px rgba(255, 255, 255, 0.25); 
	letter-spacing: 0.04em;
	fill: currentColor; 
}

.onwhite{
  color: #7a7a7a; 
}