body.hope::before{
	background: url("/images/bg-hope.png") center center / cover no-repeat;
}

.work-list {
	display: grid;
	grid-template-columns: 1fr !important;
	gap: clamp(12px, 2.2px, 18px);
	max-width: 900px;
	margin: 0 auto;
}

.hope-support-page { 
	padding-bottom: 96px;
 } 
 
 .hope-support-page .btn.small.ghost { 
	position: fixed !important; 
	left: 50%; transform: translateX(-50%); 
	bottom: 32px; margin-top: 0; 
	margin-bottom: 0; 
}