body.hope::before{
	content: "";
	position: fixed;
	inset: 0;
	background: url("/images/bg-hope.png") center center / cover no-repeat;
	z-index: -1;   
	pointer-events: none;
}

.work-list {
	display: grid;
	grid-template-columns: 1fr !important;
	gap: clamp(12px, 2.2px, 18px);
	max-width: 900px;
	margin: 0 auto;
}

.hope-support-page { 
	padding-bottom: 96px;
 } 
 
 .hope-support-page .btn.small.ghost[href="/home"] { 
	position: fixed !important; 
	left: 50%; transform: translateX(-50%); 
	bottom: 32px; margin-top: 0; 
	margin-bottom: 0; 
}