<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="login-bg">
	<div class="overlay"></div>
	
	<main class="login-wrap">
	   <section class="login-panel">
	     <div class="login-head">
	       <h2>新規登録</h2>
	       <p class="login-desc">
	         ニックネームとパスワードを入力してください。
	       </p>
	     </div>

<form th:action="@{/signup}" th:object="${userRegisterForm}" method="post" class="login-form">
    <div class="form-row">
        <label>名前</label>
        <input type="text" placeholder="例）石黒　雄三" th:field="*{name}">
        <div class="form-error" th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></div>
    </div>

    <div class="form-row">
        <label>部署名</label>
        <input type="text" placeholder="例）営業部" th:field="*{departmentName}">
        <div class="form-error" th:if="${#fields.hasErrors('departmentName')}"
             th:errors="*{departmentName}"></div>
    </div>

    <div class="form-row">
        <label>パスワード</label>
        <input type="password" placeholder="５文字以上" th:field="*{password}">
        <div class="form-error" th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}"></div>
    </div>

    <div class="form-row">
        <label>パスワード（確認）</label>
        <input type="password" placeholder="同じパスワードを入力" th:field="*{confirmPassword}">
        <div class="form-error" th:if="${#fields.hasErrors('confirmPassword')}"
             th:errors="*{confirmPassword}"></div>
    </div>

    <button type="submit" class="rpg-btn primary">▶ 登録</button>
</form>

<p>
    すでにアカウントをお持ちの方は
    <a th:href="@{/login}">ログイン</a>
</p>

</main>
</body>
</html>
