<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/appletree/new.css}">
  <title>りんごを植える</title>
</head>
<body>

<h1>りんごを植える</h1>

<form th:action="@{/appletree/create}" method="post">
  <input type="hidden" name="userId" value="1" /> <!-- TODO: ログインユーザーID -->
  <input type="text" name="title" placeholder="タイトル" />
  <br />
  <textarea name="message" placeholder="悩みや不満を書いてね"></textarea>
  <br />
  <button type="submit">このりんごを木にぶら下げる</button>
</form>

</body>
</html>
