<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/appletree/new.css}">
  <link rel="stylesheet" th:href="@{/css/button.css}">
  <title>りんごを植える</title>
</head>
<body>

  <div class="page">
    <form class="card" th:action="@{/appletree/create}" method="post">
      <input type="hidden" name="userId" value="1" />
      <input type="text" name="title" placeholder="タイトル" />
      <textarea name="message" placeholder="悩みや不満を書いてね"></textarea>
      <button type="submit">このりんごを木にぶら下げる</button>
    </form>

    <div class="actions">
      <a href="/appletree/tree" class="btn small ghost">前に戻る</a>
    </div>
  </div>

</body>
</html>
