<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/appletree/tree.css">
  <link rel="stylesheet" href="/css/button.css" />
</head>
<body>

<div class="tree-area">
  <div th:each="apple : ${apples}" class="apple">
    <a th:href="@{'/appletree/' + ${apple.id}}">
      <span th:text="${apple.title} ?: '（タイトルなし）'"></span>
    </a>
  </div>
</div>

<a th:href="@{/appletree/new}">
  <button type="button">りんごを植える</button>
</a>

    <a href="/home" class="btn small font2">ホームへ戻る</a>

</body>
</html>